@page
@model WebApp.Pages.AboutUsModel
@{
}

<!-- Contact & Map -->
<section class="p-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="text-center mb-4">Contact Info</h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Main Location:</span> Eindhoven
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Phone:</span> 555-5555
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Email:</span>
                        familymade@shop.test
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <div id="map">
                    <img src="https://via.placeholder.com/800x400" alt="Fake Map" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>