html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@media (max-width: 350px) {
    .my-element {
        display: none;
    }
}

@media (min-width: 350px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .col-xl-2-5 {
        flex: 0 0 calc(20% + 20px);
        max-width: calc(20% + 20px);
    }
}

.product-text-title {
    color: black;
}

.product-text-title:hover {
    color: #22b4a6;
}

.form-control-quantity::-webkit-inner-spin-button,
.form-control-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-primary {
    color: #fff;
    background-color: #C1D8C5;
    border-color: #C1D8C5;
}

.btn-primary:hover {
    background-color: #A5BCA9;
    border-color: #A5BCA9;
}

.nav-link.active {
    background-color: #C1D8C5;
    color: black;
}

.nav-link {
    background-color: transparent;
    color: black;
}

.nav-link:hover {
    color: #C1D8C5;
}

.nav-link.active {
    background-color: #C1D8C5 !important;
    color: white;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-section img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.profile-info-table {
    width: 100%;
    margin-top: 20px;
}

.profile-info-table th, .profile-info-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.card-img-top {
    object-fit: cover;
    height: 200px; 
}
