<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FamilymadeShopApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FamilymadeShopApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow flex-nowrap">
            <div class="container-fluid mx-2">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/img/familymade_shop.png" alt="FamilymadeShopApp Logo" class="" style="max-width: 220px; height: auto;" />
                </a>
                <form class="input-group d-none d-sm-flex w-50" asp-page="/ProductListingPage" method="get">
                        <div class="input-group">
                        <input type="text" name="search" class="form-control border search-input" placeholder="What are you looking for?" aria-label="Search" aria-describedby="button-addon2" value="@Context.Request.Query["search"].ToString()" />
                         <div class="input-group-append">
                                <button type="submit" class="btn btn-light border shadow-0 text-dark" data-mdb-ripple-color="dark">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>

                <div class="d-flex">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <p class="me-2 mb-0" style="margin-top: 7px;">Hello, @User.Identity.Name</p>
                        <a class="btn btn-light text-secondary position-relative me-2 btn-navbar" asp-area="" asp-page="/Index">
                            <i class="fas fa-user"></i>
                        </a>
                        <a class="btn btn-light text-secondary position-relative me-2 btn-navbar" href="/Logout" onclick="confirmLogout()">
                            <i class="fas fa-sign-out"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-light text-secondary position-relative me-2 btn-navbar" asp-area="" asp-page="/Login">
                            <i class="fas fa-user"></i>
                        </a>
                    }

                    <a class="btn btn-light text-secondary position-relative me-2 btn-navbar" asp-area="" asp-page="/Cart">
                        <i class="fas fa-shopping-cart" style="margin-left: -4px;"></i>
                        <span class="badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle">0</span>
                    </a>
                </div>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        
        <div class="container-fluid bg-light collapse navbar-collapse" id="navmenu">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link text-secondary" asp-area="" asp-page="/ProductListingPage">Category 1</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link text-secondary" asp-area="" asp-page="/ProductListingPage">Category 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" asp-area="" asp-page="/ProductListingPage">Category 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" asp-area="" asp-page="/ProductListingPage">Category 4</a>
                </li>
            </ul>
        </div>

        <span class="navbar-toggler-icon"></span>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     <footer class="border-top footer text-muted bg-primary">
        <div class="container text-white">
        &copy; 2024 - FamilymadeShopApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        UpdateCartBadge()
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>